@use "../base/colors";
@use "../base/layout";
@use "../base/typography";

.site-footer {
  background-color: colors.$color-accent-dark;
  display: flex;
  flex-direction: column;
  padding: 72px 140px 0;
  position: relative;
  overflow: hidden;

  &__top,
  &__bottom,
  &__social {
    @include layout.max-width;
  }

  &__top {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0;

    & > div {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav-container {
    display: flex;
    gap: 132px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: colors.$color-white;

    &-item {
      display: flex;
      gap: 6px;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    gap: 132px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 24px;

      a {
        text-decoration: none;
        color: colors.$color-white;

        &:hover {
          text-decoration: underline;
        }

        @include typography.desktop-bt2-16-r;
      }
    }
  }

  &__social {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    gap: 16px;
    margin-top: 128px;
    margin-bottom: 72px;
  }

  &__divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 466px;
    height: 1px;
    background-color: #fafafa33;
  }

  &__bottom {
    padding: 33px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #c4c4c499;

    @include typography.desktop-bt3-14-r;

    a {
      text-decoration: none;
      color: #c4c4c499;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__branding {
    display: flex;
    flex-direction: column;
    gap: 32px;

    img {
      height: 55px;
      width: 124px;
    }
  }

  &__tagline {
    color: colors.$color-white;
    @include typography.desktop-sb1-24-sb;
  }

  .credit {
    display: flex;
    gap: 8px;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }

    img {
      height: 21px;
    }
  }

  &__images {
    position: absolute;
    bottom: -140px;
    left: 0;
    display: flex;
    gap: 20px;

    img:first-child {
      height: 47px;
      width: 488px;
    }

    img:last-child {
      transform: rotate(180deg);
    }
  }

  &__protectors {
    position: absolute;
    top: -330px;
    left: -420px;
    z-index: 0;
    transform: scale(0.6);
  }
}
