@use "./ui/button";
@use "../base/typography";
@use "../base/colors";
@use "../base/layout";

.header {
  padding: 12.5px;
  border-bottom: 1px solid #c4c4c466;
  position: relative;
  z-index: 2;

  .header-logo {
    width: 124px;
    height: 55px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 64px;
    @include typography.button;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: colors.$color-white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include layout.max-width;
  }
}
