@use "../base/layout";
@use "../base/colors";
@use "../base/breakpoints" as *;
@use "../base/typography";
@use "./stats";

.hero {
  position: relative;
  top: -90px;
  height: 910px;
  padding-top: 230px;
  background-image: url("../assets/images/car-on-the-road-1.jpeg");
  background-size: cover;
  background-position: center;
  z-index: 1;

  @include respond-to-max(lg) {
    padding-top: 120px;
  }

  @include respond-to-max(md) {
    height: 800px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
  }

  .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    padding-left: 100px !important;
    @include layout.max-width;

    @include respond-to-max(lg) {
      padding-left: 40px !important;
    }
    @include respond-to-max(md) {
      height: 100%;
      padding-left: 16px !important;
      padding-right: 16px !important;

      .cta-button {
        margin-top: auto;
        width: 100%;
        margin-bottom: 70px;
        justify-content: center;
      }
    }

    .hero-title {
      color: #f8f7fc;
      margin-bottom: 7px;
      z-index: 3;
      @include typography.desktop-h1-140;

      @include respond-to-max(lg) {
        text-align: left;
      }
    }

    .hero-subtitle {
      color: colors.$color-light-grey;
      margin-bottom: 56px;
      z-index: 3;
      @include typography.header-subtitle;
    }

    .hero-speed-arrow {
      position: absolute;
      z-index: 2;
      &--1 {
        top: -134px;
        right: -50px;
      }

      &--2 {
        top: -60px;
        right: -530px;
      }

      @include respond-to-max(2xl) {
        transform: scale(0.8);

        &--2 {
          top: -100px;
          right: -430px;
        }
      }

      @include respond-to-max(md) {
        display: none;
      }
    }
  }

  .bottom-block {
    height: 74px;
    width: 100%;
    position: absolute;
    z-index: 3;
    right: calc(-50%);
    bottom: -8px;
    background-color: colors.$color-bg-light;

    img {
      height: 101%;
      transform: translateX(calc(-100% + 4px));
    }

    @include respond-to-max(2xl) {
      img {
        height: 70%;
      }
      bottom: -28px;
    }

    @include respond-to-max(md) {
      img {
        height: 45%;
      }
      bottom: -46px;
    }
  }

  .car-models {
    position: absolute;
    bottom: -70px;
    left: calc(50% - 150px);
    z-index: 3;

    display: flex;
    & img:nth-child(2n) {
      margin-left: 12px;
    }

    & img:nth-child(2n + 1) {
      margin-left: -38px;
    }

    @include respond-to-max(2xl) {
      transform: scale(0.8);
      left: calc(50% - 170px);

      & > :nth-last-child(-n + 2) {
        display: none;
      }
    }

    @include respond-to-max(md) {
      left: 50%;
      transform: scale(0.6) translateX(-86%);
      bottom: -110px;

      & > :nth-last-child(-n + 2) {
        display: block;
      }
    }
  }
}
