@use "../../base/colors";
@use "../../base/typography";

.cta-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 6px;
  padding-left: 24px;
  border-radius: 12px;
  color: colors.$color-white;
  border: none;
  text-decoration: none;
  background-color: colors.$color-accent-2;
  transition: all 0.1s ease-in-out;
  @include typography.button;

  .cta-button-icon {
    width: 44px;
    height: 44px;
    display: grid;
    place-content: center;
    background-color: colors.$color-white;
    border-radius: 10px;
    transition: transform 0.15s ease-in-out;
  }

  .cta-button-text {
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    .cta-button-text {
      transform: translateX(8px);
    }

    .cta-button-icon {
      transform: translateX(-4px);
      background-color: colors.$color-accent-2;
      img {
        filter: brightness(100);
      }
    }
  }

  &--to-white:hover {
    background-color: colors.$color-white !important;
    color: colors.$color-txt !important;

    .cta-button-icon {
      background-color: colors.$color-white;
      img {
        filter: brightness(0);
      }
    }
  }

  &--alternative {
    background-color: colors.$color-white;
    color: colors.$color-txt;

    .cta-button-icon {
      background-color: colors.$color-accent-2;
    }

    &:hover {
      background-color: colors.$color-accent-2;
      .cta-button-icon {
        img {
          filter: none;
        }
      }
      .cta-button-text {
        color: colors.$color-white;
        transform: none;
      }
    }
  }
}
