@use "../../base/colors";
@use "../../base/typography";

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #111017;
  border-bottom: 2px solid #111017;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  pointer-events: none;
}

.custom-select {
  position: relative;
  width: 250px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
  }

  &__current {
    font-size: 16px;
    color: #111017;
  }

  &__arrow {
    transition: transform 0.3s ease;
  }

  &__list {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    z-index: 20;
  }

  &__option {
    padding: 10px 14px;
    cursor: pointer;

    &:hover {
      background: #f1f1f1;
    }
  }

  &.open &__list {
    display: flex;
  }

  &.open &__arrow {
    transform: rotate(180deg);
  }

  &.open::after {
    transform: translateY(calc(-50% + 3px)) rotate(225deg);
  }
}
