@use "../../base/colors";
@use "../../base/typography";

.custom-select {
  display: inline-block;
  position: relative;
  border: 1px solid colors.$color-accent-1;
  border-radius: 12px;
  overflow: hidden;
  background-color: colors.$color-white;
  width: 230px;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  padding: 11px 40px 11px 18px;
  width: 100%;
  cursor: pointer;
  @include typography.desktop-bt2-16-sb;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #111017;
  border-bottom: 2px solid #111017;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  pointer-events: none;
}
