$color-bg-light: #eeedf5;
$color-light-grey: #c4c4c4;
$color-red: #e70b0b;
$color-dark-grey: #455c7a;
$color-accent-dark: #191919;
$color-blue-light: #4983ff;
$color-accent-1: #0454fd;
$color-accent-2: #2a0eff;
$color-white: #f8f7fc;
$color-txt: #111017;
