@use "sass:map";
@use "./breakpoints" as bp;

$max-widths: (
  default: 100%,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  3xl: 1920px,
);

@mixin max-width($key: xl, $padding: 16px) {
  $width: map.get($max-widths, $key);

  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;

  @include bp.respond-to(sm) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include bp.respond-to(md) {
    padding-left: 32px;
    padding-right: 32px;
  }
}
