@use "./colors";
@use "./layout";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: colors.$color-bg-light;
  font-family: "Wix Madefor Display", sans-serif;

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeSpeed;
}

main {
  overflow-x: hidden;
  margin-top: -90px;
  padding-top: 90px;
}

.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  flex-shrink: 0;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 999 !important;
}
