@use "../base/reset";
@use "../base/layout";
@use "../base/colors";
@use "../base/typography";
@use "../components/header";
@use "../components/ui/form";
@use "../components/footer";

.hero {
  position: relative;
  top: -90px;
  height: 395px;
  background-color: colors.$color-accent-dark;
  z-index: 1;

  .bottom-block {
    height: 32px;
    width: 50%;
    background-color: colors.$color-accent-dark;

    position: absolute;
    bottom: -32px;
    right: 0;
    .rectangle {
      position: absolute;
      top: -363px;
      right: 140px;
    }
  }

  &-content {
    z-index: 2;
    position: relative;
    @include layout.max-width;
  }

  &__protectors-1 {
    transform: scale(0.4) rotate(120deg);
    position: absolute;
    top: -450px;
    left: -450px;
  }

  &__protectors-2 {
    transform: scale(0.4) rotate(120deg);
    position: absolute;
    top: -440px;
    right: -570px;
  }
}

.car-tracking {
  position: relative;
  top: -330px;
  left: 70px;
  z-index: 2;

  &__delta-motors {
    position: absolute;
    bottom: -140px;
    right: 170px;
  }

  &__container {
    gap: 83px !important;
    display: flex !important;
    @include layout.max-width;
  }

  &__title {
    color: colors.$color-white;
    margin-bottom: 140px;
    @include typography.desktop-h1-h-1;
  }

  &__image-block {
    width: 882px;
    height: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;

    img {
      position: absolute;
      width: 100%;
      top: -340px;
      filter: grayscale(100%);
    }
  }

  &__vector-arrows-2 {
    position: absolute;
    bottom: -220px;
    left: -80px;
  }

  &__description {
    max-width: 675px;
    margin-bottom: 63px;
    @include typography.desktop-sb1-24-m;
  }

  .smart-form {
    display: flex;
    align-items: flex-end;
    gap: 32px;
    max-width: 545px;

    .form-field {
      flex: 1;
    }

    &__submit {
      padding: 12px 28px;
      background-color: colors.$color-txt;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      transition: all 0.15s;

      img {
        margin-bottom: -2px;
      }

      &:hover {
        background-color: rgba(colors.$color-txt, 0.8);
      }
    }
  }
}

.delivery {
  background-color: colors.$color-txt;
  margin: 65px 0 80px 0;
  padding: 74px 0 180px 0;
  color: colors.$color-white;
  position: relative;

  &__bg-image {
    height: 571px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url("../assets/images/audi.jpeg");
    background-size: cover;
    background-position: 50% 55%;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      border-radius: 12px;
      z-index: 2;
    }
  }

  &__bg-line {
    width: 50%;
    height: 40px;
    background-color: colors.$color-txt;
    position: absolute;
    top: -40px;
    left: 50%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    @include layout.max-width;
  }

  &__rectangle {
    position: absolute;
    top: -40px;
    left: calc(50% - 560px);
    z-index: -1;
  }

  &__rectangle-2 {
    position: absolute;
    bottom: -24px;
    left: -6%;
    width: 100%;
    z-index: -1;
  }

  &__arrows {
    position: absolute;
    top: 13px;
    right: -110px;
  }

  &__title {
    position: absolute;
    top: -240px;
    left: calc(50% - 720px);
    color: colors.$color-txt;
    display: flex;
    gap: 16px;
    flex-direction: row-reverse;
    @include typography.desktop-h2-54-r;

    span {
      font-weight: 700;
    }
  }

  &__arrows {
    display: flex;
    img {
      margin-left: -6px;
    }
  }

  &__vector-arrows {
    position: absolute;
    z-index: 1;
    bottom: -262px;
    left: 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    margin-bottom: 148px;
    padding-bottom: 40px;
  }

  .delivery-item {
    flex: 1;
    min-width: 240px;
    display: flex;
    align-items: center;
    gap: 16px;

    &:not(:last-child) {
      border-right: 1px solid #fafafa80;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: left;
    }

    &__icon {
      margin-bottom: 16px;
    }

    &__title {
      margin-bottom: 12px;
      max-width: 318px;
      text-align: left;
      @include typography.desktop-sb2-28-b;
    }

    &__text {
      max-width: 282px;
      text-align: left;
      color: colors.$color-light-grey;
      @include typography.desktop-bt1-18-r;
    }
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;

    &-text {
      max-width: 705px;
      @include typography.desktop-sb2-28-b;
    }
  }

  &__line {
    position: absolute;
    bottom: -90px;
    z-index: 1;
    left: -130px;
  }

  .cta-button {
    width: 254px;
    justify-content: space-between;
  }
}

.form-section {
  margin-bottom: 180px;

  &__container {
    display: flex;
    justify-content: center;
    gap: 109px;

    @include layout.max-width;
  }

  &__form-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    margin: 34px 0 16px;
    @include typography.desktop-h2-54-b;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  &__description {
    max-width: 500px;
    @include typography.desktop-bt1-18-r;
  }

  &__contacts {
    margin-top: 56px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-item {
      display: flex;
      align-items: center;
      gap: 6px;

      @include typography.desktop-bt2-16-r;
    }
  }

  .cta-button {
    align-self: flex-start;
    margin-top: 56px;
  }

  &__image-block {
    flex: 1;
    max-width: 945px;
    height: 710px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;

    img {
      position: relative;
      z-index: 1;
      top: -520px;
      width: 100%;
      height: auto;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 12px;
      z-index: 2;
    }
  }

  &__delta-motors {
    top: 10px !important;
    left: 100px;
    z-index: 2 !important;
  }

  &__contact-us {
    top: unset !important;
    bottom: 20px;
    right: 0;
    z-index: 2 !important;
  }

  &__vector-arrows-1 {
    top: 140px !important;
    left: 100px;
    z-index: 3 !important;
    transform: scale(1.4) rotate(180deg);
  }

  &__vector-arrows-2 {
    top: 600px !important;
    right: 100px;
    z-index: 3 !important;
    transform: scale(1.4);
  }

  &__delta-motors,
  &__vector-arrows-1,
  &__vector-arrows-2,
  &__contact-us {
    position: absolute !important;
    width: unset !important;
    height: unset !important;
  }
}
