@use "../base/reset";
@use "../base/breakpoints" as *;
@use "../base/layout";
@use "../base/colors";
@use "../base/typography";
@use "../components/header";
@use "../components/testimonials";
@use "../components/footer";
@use "../components/ui/modal";
@use "../components/ui/form.scss";
@use "../components/ui/card.scss";

.hero {
  position: relative;
  top: -90px;
  height: 318px;

  @include respond-to-max(md) {
    height: 250px;
  }
  background-color: colors.$color-accent-dark;
  z-index: 1;

  .bottom-block {
    height: 32px;
    width: 50%;
    background-color: colors.$color-accent-dark;

    position: absolute;
    bottom: -32px;

    .rectangle {
      position: absolute;
      top: -317px;
      right: -950px;
    }
  }

  &-content {
    z-index: 2;
    position: relative;
    @include layout.max-width;
  }

  &__protectors-1 {
    transform: scale(0.4) rotate(120deg);
    position: absolute;
    top: -450px;
    left: -450px;

    @include respond-to-max(md) {
      display: none;
    }
  }

  &__protectors-2 {
    transform: scale(0.4) rotate(120deg);
    position: absolute;
    top: -440px;
    right: -570px;
  }

  &__vector-arrows {
    position: absolute;
    top: 290px;
    left: -140px;

    @include respond-to-max(lg) {
      transform: scale(0.6);
    }
    @include respond-to-max(md) {
      transform: scale(0.4);
      top: 223px;
    }
  }
}

.car-details {
  &__container {
    display: flex;
    gap: 26px;

    position: relative;
    top: -260px;
    left: 50px;
    z-index: 3;

    @include respond-to-max(2xl) {
      left: 0;
    }

    @include respond-to-max(lg) {
      flex-direction: column;
      gap: 0;
    }

    @include respond-to-max(md) {
      padding-top: 42px;
    }

    @include layout.max-width;
  }

  &__header {
    color: colors.$color-white;

    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px;

    &--mobile {
      display: none;
    }
    @include respond-to-max(lg) {
      &--mobile {
        display: flex;
        margin-bottom: 102px;
      }

      &--desktop {
        display: none;
      }
    }

    .car-details__vector-arrows-2 {
      position: absolute;
      transform: rotate(180deg);
      top: 15px;
      right: 70px;

      @include respond-to-max(2xl) {
        display: none;
      }
    }
  }

  &__title {
    @include typography.desktop-h2-54-b;

    @include respond-to-max(2xl) {
      font-size: 40px !important;
    }

    @include respond-to-max(md) {
      font-size: 32px !important;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    gap: 84px;
  }

  &__price-usd {
    color: colors.$color-blue-light;
    @include typography.desktop-h2-54-r;

    @include respond-to-max(2xl) {
      font-size: 40px !important;
    }

    @include respond-to-max(md) {
      font-size: 32px !important;
    }
  }

  &__price-uah {
    color: colors.$color-light-grey;
    @include typography.desktop-sb1-24-m;
  }

  &__images-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 16.5px;
    align-self: flex-start;

    @include respond-to-max(lg) {
      align-self: unset;
    }
  }

  &__main-image {
    max-width: 800px;

    @media screen and (max-width: 1780px) {
      max-width: 500px;
    }

    @include respond-to-max(lg) {
      max-width: 100%;
    }
    width: 100%;
    overflow: hidden;
    border-radius: 12px;

    .main-image-swiper {
      position: relative;
      z-index: 2;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      padding: 8px;
      border-radius: 4px;
      background-color: colors.$color-bg-light;
      cursor: pointer;
      top: calc(50% - 15px);

      &:hover {
        background-color: rgba(colors.$color-bg-light, 0.8);
      }
    }

    .swiper-button-next {
      right: 4px;
    }

    .swiper-button-prev {
      left: 4px;
      img {
        transform: rotate(180deg);
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__more-images-container {
    max-width: 800px;
    @media screen and (max-width: 1780px) {
      max-width: 500px;
    }

    @include respond-to-max(lg) {
      display: none;
    }
    width: 100%;
    display: flex;
    gap: 15.33px;
  }

  &__more-images-item {
    flex: 1;
    overflow: hidden;
    border-radius: 4px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    &-more {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: grid;
      place-content: center;
      color: colors.$color-white;
      cursor: pointer;
      @include typography.desktop-bt1-18-sb;
    }
  }

  &__content-container {
    width: 100%;

    .cta-button {
      justify-self: start;
      justify-content: space-between;
      padding-left: 50px;
      margin-top: 56px;
      width: 249px;

      @include respond-to-max(md) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__description {
    margin-top: 48px;
    max-width: 806px;

    h3 {
      @include typography.desktop-sb2-28-b;
      margin-bottom: 24px;
    }

    ul {
      margin-left: 32px;
    }

    p,
    li {
      @include typography.desktop-bt2-16-r;
    }
  }

  &__characteristics {
    margin-top: 96px;

    @include respond-to-max(md) {
      margin-top: 64px;
    }

    &-title {
      @include typography.desktop-sb2-28-b;
    }

    &-lists {
      margin-top: 32px;
      display: flex;
      gap: 70px;
      max-width: 806px;

      @include respond-to-max(2xl) {
        gap: 36px;
      }

      @include respond-to-max(md) {
        flex-direction: column;
        gap: 0;
      }
    }

    &-list {
      flex: 1;
      list-style: none;
    }

    &-list-item {
      display: flex;
      gap: 8px;
      padding: 8px 0;
      border-bottom: 1px solid #c4c4c480;
      margin-top: 18px;

      @include typography.desktop-bt1-18-sb;

      &-content {
        display: flex;
        justify-content: space-between;
        flex: 1;

        p:last-child {
          font-weight: 400;
        }
      }
    }
  }

  &__vector-arrows-1 {
    position: absolute;
    bottom: -230px;
    left: -90px;

    @include respond-to-max(lg) {
      display: none;
    }
  }

  &__vertical-line {
    position: absolute;
    top: 90px;
    right: -60px;
    z-index: -1;
  }
}

.cars-for-u {
  background-color: colors.$color-accent-dark;
  margin: -120px 0 400px 0;
  padding: 74px 0 0 0;
  color: colors.$color-white;
  position: relative;
  z-index: 4;

  @include respond-to-max(lg) {
    padding: 20px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 270px;
    z-index: 1;
    @include layout.max-width;

    @include respond-to-max(lg) {
      padding-top: 450px;
    }

    @include respond-to-max(md) {
      margin-bottom: 550px;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 350px;
    }

    @media screen and (max-width: 400px) {
      padding-top: 350px;
    }
  }

  &__rectangle {
    position: absolute;
    top: -35px;
    left: calc(50% - 740px);
  }

  &__vector-arrows {
    position: absolute;
    top: -180px;
    right: 0;
    z-index: 2;

    @include respond-to-max(lg) {
      display: none;
    }
  }

  &__vertical-line {
    position: absolute;
    right: 0;
    bottom: -110px;
  }

  &__protectors {
    position: absolute;
    top: -470px;
    left: -370px;
    transform: scale(0.25) rotate(30deg);
  }

  &__vertical-line {
    height: 60px;
    background-color: colors.$color-accent-dark;
    position: absolute;
    top: -35px;
    right: 0;
    width: 60%;
  }

  &__content {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    display: flex;
    gap: 28px;

    @media screen and (max-width: 1680px) {
      gap: 120px;
    }

    @media screen and (max-width: 1280px) {
      gap: 80px;
    }

    @include respond-to-max(lg) {
      flex-direction: column;
      gap: 34px;
      transform: unset;
      left: 16px;
      right: 16px;
      top: 15px;

      .car-card {
        max-width: 100%;
      }
    }

    align-items: center;
    @include layout.max-width;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__line-vector {
    position: absolute;
    bottom: -110px;
    left: -150px;
  }

  &__text-container {
    max-width: 600px;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 56px;

    @include respond-to-max(lg) {
      gap: 24px;
    }
  }

  &__title {
    @include typography.desktop-h2-54-r;

    text-wrap: nowrap;

    span {
      font-weight: 700;
      margin-left: 66px;
    }
  }

  &__subtitle {
    max-width: 324px;
    @include typography.auction-subtitle;
    color: #3d3f45;

    @include respond-to-max(lg) {
      color: colors.$color-white;
    }
  }

  &__vector-arrows-2 {
    position: absolute;
    top: 14px;
    right: 40px;

    @media screen and (max-width: 1680px) {
      right: -52px;
    }

    @include respond-to-max(md) {
      right: unset;
      left: 156px;
      top: 0;
      transform: scale(0.8);
    }
  }

  .car-card__title {
    color: colors.$color-txt;
  }

  .swiper-slide,
  .car-card {
    width: 100%;
    flex-shrink: 0;
  }

  .cars-for-u-swiper {
    min-width: 1210px;
    @media screen and (max-width: 1680px) {
      min-width: unset;
      width: 800px;
      flex-shrink: 0;
    }
    @media screen and (max-width: 1280px) {
      width: 650px;
    }
    @include respond-to-max(md) {
      width: 100%;
    }
    position: relative;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    padding: 8px;
    border-radius: 4px;
    background-color: colors.$color-bg-light;
    cursor: pointer;
    top: calc(50% - 55px);

    &:hover {
      background-color: rgba(colors.$color-bg-light, 0.8);
    }
  }

  .swiper-button-next {
    right: 14px;
  }

  .swiper-button-prev {
    left: 14px;
    img {
      transform: rotate(180deg);
    }
  }
}

.form-section {
  margin-bottom: 100px;
}

.gallery-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 99999999;

  &.active {
    display: flex;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  &__content {
    margin: auto;
    position: relative;
    max-width: 80vw;
    max-height: 80vh;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
      background-color: colors.$color-white;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;

      img {
        margin-bottom: -3px;
      }
    }

    .swiper-button-next {
      position: absolute;
      right: 16px;
    }

    .swiper-button-prev {
      position: absolute;
      left: 16px;
      img {
        transform: rotate(180deg);
      }
    }

    .swiper-slide img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__close {
    position: absolute;
    top: -64px;
    right: -44px;
    font-size: 32px;
    color: white;
    background: none;
    border: none;
    z-index: 10001;
    cursor: pointer;
  }
}

.gallery-swiper {
  height: auto;
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
