@use "../base/reset";
@use "../components/header";
@use "../components/footer";
@use "../components/contact";
@use "../components/hero";
@use "../components/ui/card";
@use "../base/colors";
@use "../base/layout";
@use "../base/typography";

.available-cars {
  background-color: colors.$color-bg-light;
  padding: 140px 0 160px 0;

  display: flex;
  gap: 100px;
  align-items: center;
  position: relative;
  @include layout.max-width;

  &-swiper {
    position: relative;
    z-index: 2;

    .swiper-button-next,
    .swiper-button-prev {
      padding: 6px 8px;
      border-radius: 4px;
      background-color: colors.$color-white;
      cursor: pointer;

      position: absolute;
      top: calc(50% - 45px);

      img {
        margin-bottom: -2px;
      }

      &:hover {
        background-color: rgba(colors.$color-white, 0.9);
      }
    }

    .swiper-button-next {
      right: 26px;
    }

    .swiper-button-prev {
      left: 8px;
      img {
        transform: rotate(180deg);
      }
    }
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;
    z-index: 2;
    gap: 64px;

    .available-cars__title {
      display: flex;
      flex-direction: column;
      position: relative;

      @include typography.desktop-h2-54-r;

      strong {
        margin-left: 76px;
      }
    }
  }

  &__arrows {
    display: flex;
    position: absolute;
    top: 15px;
    right: -10px;

    img {
      margin-left: -6px;
    }
  }

  &__vector-arrow {
    z-index: 0;
    position: absolute;
    top: -210px;
    transform: scale(1.1);

    &--1 {
      left: -70px;
    }

    &--2 {
      left: -650px;
    }
  }

  &__text-image {
    position: absolute;
    bottom: 40px;
    right: 110px;
  }
}
