@use "../base/reset";
@use "../components/header";
@use "../components/footer";
@use "../base/colors";
@use "../base/layout";
@use "../base/typography";

.hero {
  position: relative;
  top: -90px;
  height: 395px;
  background-color: colors.$color-accent-dark;
  z-index: 1;

  .bottom-block {
    height: 32px;
    width: 50%;
    background-color: colors.$color-accent-dark;

    position: absolute;
    bottom: -32px;
    left: 0;
    .rectangle {
      position: absolute;
      top: -317px;
      right: -700px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 24px;

    img {
      transform: rotate(180deg);
    }
  }

  &__title {
    color: colors.$color-white;
    @include typography.desktop-h2-54-b;
  }

  &__vector-arrows {
    position: absolute;
    bottom: -210px;
    left: -250px;
  }

  &-content {
    z-index: 5;
    padding-top: 200px;
    position: relative;
    @include layout.max-width;
  }

  &__protectors-1 {
    transform: scale(0.4) rotate(120deg);
    position: absolute;
    top: -450px;
    left: -450px;
  }

  &__protectors-2 {
    transform: scale(0.4) rotate(120deg);
    position: absolute;
    top: -440px;
    right: -570px;
  }
}

.privacy-policy {
  margin: 20px 0 200px;
  &__content {
    position: relative;
    @include layout.max-width;

    p {
      max-width: 1080px;
      @include typography.desktop-bt1-18-r;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  &__vertical-line {
    position: absolute;
    top: -200px;
    right: -100px;
  }

  &__vector-arrows {
    position: absolute;
    top: 260px;
    left: -80px;
  }

  &__delta-motors {
    position: absolute;
    bottom: -180px;
    left: -130px;
  }
}
