<footer class="site-footer">
  <div class="site-footer__top">
    <div class="site-footer__images">
      <img src="assets/images/delta-motors.png" alt="delta motors" />
      <img
        src="assets/icons/graphic-elements/vector-arrows-2.svg"
        alt="vector arrows"
      />
    </div>

    <img
      class="site-footer__protectors"
      src="assets/images/protectors.png"
      alt="protectors"
    />

    <div>
      <div class="site-footer__branding">
        <img
          src="assets/images/logo.png"
          alt="Delta Motors Logo"
          class="site-footer__logo"
        />
        <p class="site-footer__tagline">
          YOUR TRUSTED PARTNER<br />IN CAR IMPORTS
        </p>
      </div>

      <div class="site-footer__nav-container">
        <div class="site-footer__nav">
          <ul>
            <li><a href="#">Авто під замовлення</a></li>
            <li><a href="#">Авто в наявності</a></li>
            <li><a href="#">Відстеження</a></li>
          </ul>
          <ul>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Пакети послуг</a></li>
            <li><a href="#">Поширені запитання</a></li>
          </ul>
        </div>

        <div class="site-footer__contact">
          <div class="site-footer__contact-item">
            <img src="assets/icons/component-icons/phone.svg" alt="Phone" />
            <span>+38 097 647 17 68</span>
          </div>
          <div class="site-footer__contact-item">
            <img src="assets/icons/component-icons/phone.svg" alt="Phone" />
            <span>+38 097 647 17 68</span>
          </div>
          <div class="site-footer__contact-item">
            <img
              src="assets/icons/component-icons/location.svg"
              alt="Location"
            />
            <span>м. Івано-Франківськ,<br />вул. Матейка 3</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__social">
    <a href="#">
      <img
        class="link-normal"
        src="assets/icons/socials/facebook.svg"
        alt="Facebook"
      />
      <img
        class="link-hover"
        src="assets/icons/socials/facebook-blue.svg"
        alt="Facebook"
      />
    </a>
    <a href="#"
      ><img
        class="link-normal"
        src="assets/icons/socials/tg.svg"
        alt="Telegram" />
      <img
        class="link-hover"
        src="assets/icons/socials/tg-blue.svg"
        alt="Telegram"
    /></a>
    <a href="#"
      ><img
        class="link-normal"
        src="assets/icons/socials/instagram.svg"
        alt="Instagram" />
      <img
        class="link-hover"
        src="assets/icons/socials/instagram-blue.svg"
        alt="Instagram"
    /></a>
  </div>

  <div class="site-footer__divider"></div>

  <div class="site-footer__bottom">
    <a href="/privacy-policy.html" class="privacy-link">Privacy Policy</a>
    <span class="copyright">Copyright © 2025 Delta Motors</span>
    <span class="credit">
      Created by
      <a href="#"
        ><img src="assets/images/heaven.png" alt="Heaven Soft Logo"
      /></a>
    </span>
  </div>
</footer>
