<header class="header">
  <nav class="header-nav">
    <a href="/index.html" class="header-logo">
      <img
        class="header-logo"
        src="/assets/images/logo.png"
        alt="Delta Motors logo"
      />
    </a>
    <ul class="header-menu">
      <li><a href="#">В наявності</a></li>
      <li><a href="#">Аукціон</a></li>
      <li><a href="/car-tracking.html">Відстеження</a></li>
      <li><a href="/about.html">Про нас</a></li>
    </ul>
    <a href="#contact" class="cta-button">
      Зв’язатися з нами
      <span class="cta-button-icon"
        ><img src="/assets/icons/arrows/right-arrow-blue.svg" alt="right arrow"
      /></span>
    </a>
  </nav>
</header>
