<section class="testimonials">
  <div class="testimonials__container">
    <div class="testimonials__header">
      <h2 class="testimonials__title">
        <span>ВІДГУКИ</span><br />
        КЛІЄНТІВ
      </h2>
      <p class="testimonials__subtitle">
        Це не лише слова вдячності, а й підтвердження нашої<br class="desktop" />
        надійності та професіоналізму на кожному етапі!
      </p>

      <img class="testimonials__vector-arrows" src="assets/icons/graphic-elements/vector-arrows-2.svg" alt="vector arrows" />
    </div>

    <div class="swiper testimonials-swiper">
      <div class="swiper-wrapper testimonials__list">

        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="testimonial-card__bg-rect"></div>
            <div class="testimonial-card__content">
              <div class="testimonial-card__header">
                <img src="assets/images/vlad-myronyuk-1.jpeg" alt="Влад Миронюк" class="testimonial-card__avatar" />
                <div class="testimonial-card__header-info">
                  <h3 class="testimonial-card__name">Влад Миронюк</h3>
                  <p class="testimonial-card__handle">@someofourstudents</p>
                  <div class="testimonial-card__stars">
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                  </div>
                </div>
              </div>
              <div class="testimonial-card__body">
                <p class="testimonial-card__text">
                  Мені пощастило працювати з Delta Motors при замовленні авто з США. Компанія виконала всі свої обіцянки: від підбору машини до доставки в Україну.
                </p>
              </div>
              <img class="testimonial-card__quote" src="assets/icons/component-icons/quotes.svg" alt="quotes" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="testimonial-card__bg-rect"></div>
            <div class="testimonial-card__content">
              <div class="testimonial-card__header">
                <img src="assets/images/ivan-perekotypole.png" alt="Іван Перекотиполе" class="testimonial-card__avatar" />
                <div class="testimonial-card__header-info">
                  <h3 class="testimonial-card__name">Іван Перекотиполе</h3>
                  <p class="testimonial-card__handle">@someofourstudents</p>
                  <div class="testimonial-card__stars">
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                  </div>
                </div>
              </div>
              <div class="testimonial-card__body">
                <p class="testimonial-card__text">
                  Співпраця з Delta Motors була одним із найкращих рішень при купівлі авто з-за кордону. Від першої консультації до моменту отримання машини все пройшло на вищому рівні.
                </p>
              </div>
              <img class="testimonial-card__quote" src="assets/icons/component-icons/quotes.svg" alt="quotes" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="testimonial-card__bg-rect"></div>
            <div class="testimonial-card__content">
              <div class="testimonial-card__header">
                <img src="assets/images/vlad-myronyuk-2.png" alt="Влад Миронюк" class="testimonial-card__avatar" />
                <div class="testimonial-card__header-info">
                  <h3 class="testimonial-card__name">Влад Миронюк</h3>
                  <p class="testimonial-card__handle">@someofourstudents</p>
                  <div class="testimonial-card__stars">
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                  </div>
                </div>
              </div>
              <div class="testimonial-card__body">
                <p class="testimonial-card__text">
                  Замовляв авто з Європи через Delta Motors. Все пройшло гладко, без жодних проблем. Особливо сподобалась прозорість у спілкуванні та чесний підхід до роботи.
                </p>
              </div>
              <img class="testimonial-card__quote" src="assets/icons/component-icons/quotes.svg" alt="quotes" />
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="testimonial-card__bg-rect"></div>
            <div class="testimonial-card__content">
              <div class="testimonial-card__header">
                <img src="assets/images/ivan-perekotypole.png" alt="Іван Перекотиполе" class="testimonial-card__avatar" />
                <div class="testimonial-card__header-info">
                  <h3 class="testimonial-card__name">Іван Перекотиполе</h3>
                  <p class="testimonial-card__handle">@someofourstudents</p>
                  <div class="testimonial-card__stars">
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                    <img src="assets/icons/component-icons/star-small.svg" alt="star" />
                  </div>
                </div>
              </div>
              <div class="testimonial-card__body">
                <p class="testimonial-card__text">
                  Співпраця з Delta Motors була одним із найкращих рішень при купівлі авто з-за кордону. Від першої консультації до моменту отримання машини все пройшло на вищому рівні.
                </p>
              </div>
              <img class="testimonial-card__quote" src="assets/icons/component-icons/quotes.svg" alt="quotes" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="assets/icons/arrows/right-arrow-black.svg" alt="left arrow" />
      </div>
      <div class="swiper-button-next">
        <img src="assets/icons/arrows/right-arrow-black.svg" alt="right arrow" />
      </div>
      <div class="swiper-pagination"></div>
    </div>
    </div>

    <img class="testimonials__vector-arrows-2" src="assets/icons/graphic-elements/vector-arrows-4.svg" alt="vector arrows" />
  </div>
</section>